<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="LittleFootLiberaryAutomation.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LittleFootLiberaryAutomation.Common" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CarsAutomation.Common" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CarsAutomation.FilePath" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        
        <LittleFootLiberaryAutomation.Test>
            <setting name="LogFileLocation" serializeAs="String">
                <value>C:\\Log\\LogTest</value>
            </setting>
            <setting name="WebsiteURL" serializeAs="String">
                <value>https://www.cars.com/</value>
            </setting>
        </LittleFootLiberaryAutomation.Test>
        <LittleFootLiberaryAutomation.Common>
            <setting name="LogFileLocation" serializeAs="String">
                <value>C:\\Log\\LogTest</value>
            </setting>
            <setting name="WebsiteURL" serializeAs="String">
                <value>https://www.cars.com/</value>
            </setting>
        </LittleFootLiberaryAutomation.Common>
        <CarsAutomation.Common>
            <setting name="LogFileLocation" serializeAs="String">
                <value>C:\\Log\\LogTest</value>
            </setting>
            <setting name="WebsiteURL" serializeAs="String">
                <value>https://www.cars.com/</value>
            </setting>
        </CarsAutomation.Common>
        <CarsAutomation.FilePath>
            <setting name="LogFileLocation" serializeAs="String">
                <value>C:\Log\LogTest</value>
            </setting>
        </CarsAutomation.FilePath>
    </userSettings>
</configuration>